*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body,html{
  width: 100%;
  height: 100%;
}
:root{
  --landing_page_background:rgba(45,87,77,255);
  --landing_page_button_bgcolor:#c0f196;
  --box_bgc_color:rgba(195,244,153,255);
}
#Main{
  width: 100vw;
  height: 100vh;
  background-color: var(--landing_page_background);
  display: flex;
  align-items: center;
  justify-content: center;
}
#Home_Section{
  width: 94%;
  height: 100%;
  background-color: var(--landing_page_background);
  margin: 0px 3vh;
}
#Home{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* nav section code */
nav{
  width: 95%;
  height: 10vh;
  background-color:var(--landing_page_background);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}
.logo a{
  color: white;
  font-size: 20px;
}
nav ul{
  display: flex;
  gap: 12px;
  text-transform: capitalize;
}
nav ul li a{
  color: white;
}
/* text code here */
#text{
  width: 40%;
  height: 80%;
  position: absolute;
  left: 0;
  bottom: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
#text h5{
  font-size: 5vw;
}
#text h4{
  font-size: 12vw;
}

/* image box code */
#img{
  width: 50%;
  height: 93%;
  position: absolute;
  right: 0;
  bottom: 0%;
}
#img img{
  width: 100%;
  height: 100%;
}

/* text buttton */
.button {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0px 15px;
  background-color: var(--landing_page_button_bgcolor);
  border-radius: 10px;
  color: black;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
}


.arrow {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--landing_page_background);
  transition-duration: .2s;
 border-top: 2px solid white;
 border-left: 2px solid white;
 border-right: 2px solid white;
 color: white;
}

.button:hover .arrow {
  animation: slide-right .6s ease-out both;
}
/* arrow animation */
@keyframes slide-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button:active {
  transform: translate(1px , 1px);
  transition-duration: .2s;
}


/* button code */


button {
  width: 160px;
  height: 56px;
  overflow: hidden;
  border: none;
  color: #fff;
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
}

button > div,
button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button .clone > *,
button .text > * {
  opacity: 1;
  font-size: 1.3rem;
  transition: 0.2s;
  margin-left: 4px;
}

button .clone > * {
  transform: translateY(60px);
}

button:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

button:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

button:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

button:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}
.clone a{
  color: white;
}





/* Area of Expertise code start */
#Area_of_Expertise{
  width: 100%;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
}
#sub_boxes{
  width: 100%;
  height: 85vh;
  margin-top: 15.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#sub_boxes h1{
font-size: 40px;
margin-bottom: 3.5vh;

}
.box1{
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4vh;

}

.elem_box{
  width: 30%;
  height: 30%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--box_bgc_color);
  transition: 2s ease-in-out;
}
.elem_box:hover{
 background-image: url(/1st.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elem_box a{
  font-size: 35px;
  color: black;
}



/* Case Study code  */
#Case_Study{
  width: 100%;
  height: 100%;
  border: 1px solid yellow;
}